@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-500.woff2") format("woff2");
}

svg {
  @apply ring-0;
}

.btn {
  @apply text-text3 bg-primary hover:bg-highlight cursor-pointer focus:ring-4 focus:ring-accent1 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none;
}
.input {
  @apply bg-bg2 border border-bg2 focus:ring-2 text-text3 text-sm rounded-lg focus:ring-primary focus:border-primary block p-2.5 disabled:bg-bg2 disabled:cursor-not-allowed;
}

.scrollbar::-webkit-scrollbar {
  @apply w-1 overflow-hidden
}
.scrollbar::-webkit-scrollbar-track {
    @apply bg-bg2;
}
.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-accent1;
}

